@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Kalam';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/fonts/Kalam-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Kalam';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Kalam-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Kalam';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/Kalam-Bold.ttf') format('truetype');
}